{% extends 'base.html.twig' %}

{% block div %}

       <div style='overflow:auto; width: 600px;height:400px; text-align: center;'>
              <a style="padding: 5px; float: left" href="/person/"><button class="btn btn-primary">Back </button></a>
              <a style="padding: 5px; float: right" href="/person/{{ person.id }}/delete"><button class="btn btn-danger">Delete </button></a>
              <a style="padding: 5px; float: right" href="/person/{{ person.id }}/modify"><button class="btn btn-primary">Edit</button></a><br><br>
           <h3>{{ person.name }} {{ person.surname }}</h3><hr style="border-top: 1px solid;color: #2e6da4">
           {% for position in address %}
               <p class="text-center">City: {{ position.city }}</p>
               <p class="text-center">Street: {{ position.street }}</p>
               <p class="text-center">House number: {{ position.streetNumber }}</p>
               <p class="text-center">Flat number: {{ position.flatNumber }}</p>
           {% endfor %}
       </div>


{% endblock %}